* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #D6D58E;
}

table, th, td {
    border: 1px solid black;
  }


ul {
    list-style: none;
}

li {
    color: #005C53;
}

a {
    color: #0faa9b;
}

h1 {
    color: #005C53;
    margin-bottom: 15px;
    text-align: center;
}

#menu {
    display: flex;
    border: 1px solid #9FC131;
    border-width: 20px;
    background-color: #9FC131;
}

#menu a {
    text-decoration: none;
    color: #005C53;
}

#menu a:hover{
    color: #D6D58E ;
    transition: 0.2s;
}

#menu li {
    margin-left: 20px;
}

.card {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.card-table{
    color: #005C53;
    display: flex;
    margin: 10px;
    justify-content: center;
}

.card-image {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


.field-grid{
    margin-top: 5px;
    margin-left: 5px;
    display: block;
}

.button {
    background-color: #005C53; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover{
      background-color: #9FC131;
      color: white;
      transition: 0.2s;
  }

